

$light:300;
$regular:400;
$medium:500;
$bold:700;
$black:900;
$web-color:#6E9677;
$web-font1:'Satoshi',sans-serif;
$web-font2:"General Sans", sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    background-color: $web-color;
    font-family: $web-font1,$web-font2;
    overflow-x: hidden;
    height: 100vh;
    
    //MODIFYING THE SCROLLB AR
    &::-webkit-scrollbar{
        width: .9rem;
        height: 1rem;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: darkgreen;
        border-radius: .5rem;
      }
}

.main{

    //POSITIONING THE LOGO IMAGE
    .bg-image-container{

        position:absolute;
        top: 4%;
        left: 2%;
    
        img{
            width: 3.8rem;
        }
    }


}
//SECTION
.main-page-section{
    .content-wrapper-container{
        // border: 2px solid red;
        display: flex;

        width: 100vw;
        align-items: center;
        justify-content: center;
        .content-wrapper{
            padding: 3rem;
            display: flex;
            flex-direction: column;
            //IMAGE DIV

            .profile-container{
                display: flex;
                align-items: center;
                justify-content: center;
                .profile{

                    height: 17rem;
                    width: 17rem;
                    // border: 9px double darkgreen;
             
                    position: relative;
                    border-radius: 50%;
                    img{
                        border: 9px double darkgreen;

                        position: absolute;
                        top: 0;
                        left: 0;
                        border-radius: inherit;
    
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }

            //TEXT PART
            .text{
                margin-top: 2rem;
                .text-container{
                    .text-info{

                        h3{
                            font-weight: $bold;
                            text-transform: capitalize;
                            font-size: 3.6rem;
                            color: black;
                            font-weight: $black;
                            padding: 0.5rem 0;

                        }
                        .anchor{

                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;

                            a{
                                text-align: center;
                                text-decoration: none;
                                font-size: 2.3rem;
                                color: black;
                                opacity: .8;
                                position: relative;
                                color: rgb(18, 99, 18);
                                font-weight: $bold;
                            }

                        }

                    }

                    .button-container{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-top: 2rem;

                        button{
                            border: none;
                            padding: 2rem;
                            color: black;
                            font-weight: $bold;
                            font-size: 1.9rem;
                            text-transform: uppercase;
                            font-size: 1.4rem;
                            border-radius: .5rem;
        
                        }
                    }
                }
            }

        }
    }

    //REPOS PART
    .repository-container{
        margin-top: 2rem;

        .repos-div{
            display: flex;
            align-items: center;
            justify-content: center;

            .repos-div-parent{
                width: 90%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                .repo-element{
                    background-color: #2a4f32;
                    color: white;
                    padding: 3rem 2rem;
                    border-radius: .8rem;
                    margin: 2rem;
                    position: relative;

                    .repo-name{
                        padding-top: 2rem;
                        padding-bottom: 1rem;
                        font-size: 2.2rem;
                        font-weight: $black;
                        opacity: .8;
                    }

                    .repo-description{
                        font-size: 1.6rem;
                        padding: 1rem 0;
                        font-weight: $medium;
                        opacity: .9;
                    }

                    //LIST ITEMS OF THE PROGRAMMING LANGUAGE USED

                    .list-item{
                        display: inline-block;
                        padding: 0 .4rem;
                        list-style: none;
                        font-size: 1.2rem;
                        padding-bottom: 1rem;
                        font-weight:$medium;
                        text-transform: uppercase;
                        opacity: .7;
                        margin-top: 2rem;
                    }

                    .repo-link{
                        color: white;

                        #icon{
                            font-size: 2rem;
                            position: absolute;
                            top: 0;
                            left: 0;
                            margin: .5rem;
                            opacity: .8;
                            color: white;
    
    
                        }
    
                    }
                }
            }
        }

    }
}

//CLASS TO BE SET TO THE DIV TO SHOW ERROR MESSAGE WHEN USER IS NOT FOUND
.user-not-found{
    position: absolute;
    top: 0;
    left: 0;
background-color: $web-color;
    font-size: 3rem;
    display: grid;
    place-items: center;
    color: black;
    font-weight: $black;
    height: 100vh;
    width: 100vw;
    z-index: 88;

}

//FOR LARGE SCREENS

@media screen and(min-width:1400px) {
    .main-page-section{
        .repository-container{
            .repos-div{
                .repos-div-parent{
                    width: 65%;
                }
            }
        }
    }
}

@media screen and(min-width:1700px) {
    .main-page-section{
        .repository-container{
            .repos-div{
                .repos-div-parent{
                    width: 50%;
                }
            }
        }
    }
}


//FOR SMALL SCREENS
@media screen and(max-width:1000px) {   
    .main-page-section .repository-container .repos-div .repos-div-parent{
        width: 95%;
    }
}

@media screen and(max-width:890px) {
    .main-page-section .repository-container .repos-div .repos-div-parent{
        width: 95%;
        grid-template-columns: 1fr 1fr;

    }
}

@media screen and(max-width:600px) { 
    .main-page-section .repository-container .repos-div .repos-div-parent{
        width: 80%;
        display: flex;
        flex-direction: column;


    }
}

@media screen and(max-width:500px) {
    .main-page-section .content-wrapper-container .content-wrapper .text .text-container{

        .text-info{
            h3{
                font-size: 2.8rem;
                text-align: center;
                padding-bottom: 1rem;
            }

        }

    }
    
    .main-page-section .repository-container .repos-div .repos-div-parent{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;



        .repo-element{
            margin: unset;
            margin: 2rem 0;
            padding: 2rem;
            // width: 27rem;

            .repo-name{
                font-size: 1.8rem;
            }
            .repo-description{
                font-size: 1.5rem;
            }
            .list-item{
                font-size: 1.1rem;
            }
        }

    }
}

