* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #6E9677;
  font-family: "Satoshi", sans-serif, "General Sans", sans-serif;
  overflow-x: hidden;
  height: 100vh;
}
body::-webkit-scrollbar {
  width: 0.9rem;
  height: 1rem;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: darkgreen;
  border-radius: 0.5rem;
}

.main .bg-image-container {
  position: absolute;
  top: 4%;
  left: 2%;
}
.main .bg-image-container img {
  width: 3.8rem;
}

.main-page-section .content-wrapper-container {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.main-page-section .content-wrapper-container .content-wrapper {
  padding: 3rem;
  display: flex;
  flex-direction: column;
}
.main-page-section .content-wrapper-container .content-wrapper .profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-page-section .content-wrapper-container .content-wrapper .profile-container .profile {
  height: 17rem;
  width: 17rem;
  position: relative;
  border-radius: 50%;
}
.main-page-section .content-wrapper-container .content-wrapper .profile-container .profile img {
  border: 9px double darkgreen;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-page-section .content-wrapper-container .content-wrapper .text {
  margin-top: 2rem;
}
.main-page-section .content-wrapper-container .content-wrapper .text .text-container .text-info h3 {
  font-weight: 700;
  text-transform: capitalize;
  font-size: 3.6rem;
  color: black;
  font-weight: 900;
  padding: 0.5rem 0;
}
.main-page-section .content-wrapper-container .content-wrapper .text .text-container .text-info .anchor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-page-section .content-wrapper-container .content-wrapper .text .text-container .text-info .anchor a {
  text-align: center;
  text-decoration: none;
  font-size: 2.3rem;
  color: black;
  opacity: 0.8;
  position: relative;
  color: rgb(18, 99, 18);
  font-weight: 700;
}
.main-page-section .content-wrapper-container .content-wrapper .text .text-container .button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.main-page-section .content-wrapper-container .content-wrapper .text .text-container .button-container button {
  border: none;
  padding: 2rem;
  color: black;
  font-weight: 700;
  font-size: 1.9rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  border-radius: 0.5rem;
}
.main-page-section .repository-container {
  margin-top: 2rem;
}
.main-page-section .repository-container .repos-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-page-section .repository-container .repos-div .repos-div-parent {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.main-page-section .repository-container .repos-div .repos-div-parent .repo-element {
  background-color: #2a4f32;
  color: white;
  padding: 3rem 2rem;
  border-radius: 0.8rem;
  margin: 2rem;
  position: relative;
}
.main-page-section .repository-container .repos-div .repos-div-parent .repo-element .repo-name {
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: 2.2rem;
  font-weight: 900;
  opacity: 0.8;
}
.main-page-section .repository-container .repos-div .repos-div-parent .repo-element .repo-description {
  font-size: 1.6rem;
  padding: 1rem 0;
  font-weight: 500;
  opacity: 0.9;
}
.main-page-section .repository-container .repos-div .repos-div-parent .repo-element .list-item {
  display: inline-block;
  padding: 0 0.4rem;
  list-style: none;
  font-size: 1.2rem;
  padding-bottom: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  opacity: 0.7;
  margin-top: 2rem;
}
.main-page-section .repository-container .repos-div .repos-div-parent .repo-element .repo-link {
  color: white;
}
.main-page-section .repository-container .repos-div .repos-div-parent .repo-element .repo-link #icon {
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0.5rem;
  opacity: 0.8;
  color: white;
}

.user-not-found {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #6E9677;
  font-size: 3rem;
  display: grid;
  place-items: center;
  color: black;
  font-weight: 900;
  height: 100vh;
  width: 100vw;
  z-index: 88;
}

@media screen and (min-width: 1400px) {
  .main-page-section .repository-container .repos-div .repos-div-parent {
    width: 65%;
  }
}
@media screen and (min-width: 1700px) {
  .main-page-section .repository-container .repos-div .repos-div-parent {
    width: 50%;
  }
}
@media screen and (max-width: 1000px) {
  .main-page-section .repository-container .repos-div .repos-div-parent {
    width: 95%;
  }
}
@media screen and (max-width: 890px) {
  .main-page-section .repository-container .repos-div .repos-div-parent {
    width: 95%;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  .main-page-section .repository-container .repos-div .repos-div-parent {
    width: 80%;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  .main-page-section .content-wrapper-container .content-wrapper .text .text-container .text-info h3 {
    font-size: 2.8rem;
    text-align: center;
    padding-bottom: 1rem;
  }
  .main-page-section .repository-container .repos-div .repos-div-parent {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main-page-section .repository-container .repos-div .repos-div-parent .repo-element {
    margin: unset;
    margin: 2rem 0;
    padding: 2rem;
  }
  .main-page-section .repository-container .repos-div .repos-div-parent .repo-element .repo-name {
    font-size: 1.8rem;
  }
  .main-page-section .repository-container .repos-div .repos-div-parent .repo-element .repo-description {
    font-size: 1.5rem;
  }
  .main-page-section .repository-container .repos-div .repos-div-parent .repo-element .list-item {
    font-size: 1.1rem;
  }
}/*# sourceMappingURL=mainApp.css.map */